@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: rgb(233, 233, 233);
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  max-width: 1280px;
}

.nav-bar {
  height: 60px;
  max-width: 1280px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-table {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movie-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  width: 200px;
  padding: 10px;
  margin: 10px;
  border-style: solid;
  border-color: black;
  border-radius: 2%;
  text-align: center;
  box-shadow: 5px 5px black;
}

.movie-card:hover {
  background-color: rgba(128, 128, 128, 0.2);
  color: white;
  box-shadow: black;
  cursor: pointer;
}

.error-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}